
.background{
	position: fixed;
	height: 100%;
	width: 100%;
	
}

.nav.navbar-nav.navbar-right li a:hover {
    color: #ff3b3f;
}


div.helo{
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  padding-top: 1px;  
  padding-right: 10px;
  min-width: 20%;
  min-height: 100%;
}
div.movi{
   
  padding-top: 1px;  
  padding-right: 10px;
  min-width: 20%;
  min-height: 100%;
  margin-left: 20%;
}
div.Smovi{
  
  
  padding-top: 1px;  
  padding-right: 10px;
  min-width: 20%;
  min-height: 100%;
  margin-left: 10%;
}
.img1{
position: absolute;
  height: 60%;
  width: 70%;
  top: 0px;
  left: 0px;
  z-index: 1;

  }
  .name {
  	position: relative;
  	z-index: 2;
  	top:290px;
  	left:53px;
    

  }
  .headd{
  position: relative;
  	z-index: 2;	
  	top:290px;
  	left:38px;

  }
  .dwnld{
  position: relative;
  	z-index: 2;	
  	border-radius: 20px;
  	background-color: #ff3b3f;
  	color: white;
  	max-width: 137px;
  	padding: 6px;
  	padding-top: 10px;
  	top:350px;
  	font-size: 14px;
  	left:74px;
  }
  .dwnld a{
    text-decoration: none !important;
    color: black;
  }
  .dwnld a:hover{
color: #62a0af;
  }
  .dwnld a:visited{
color: #CAEBF2;
  }
  

  .nwdiv{
    padding-left: 3%;
    padding-right: 6%;
      }
.Leftcard{
  margin: 0;

	background: white;
	padding: 30px;
}

.con{
  width: 100%;
  background-color: #ddd;
  border: solid;
}
.lang {
  text-align: right;
  padding-right: 20px;
  font-size: 79%;
  color: white;
}

.hindi{

width: 100%; 
background-color: #4CAF50;
}
.punjabi{
width: 100%; 
background-color: #4CAF50;
}
.english{
width: 90%; 
background-color: #4CAF50;
}
.german{
width: 13%; 
background-color: #4CAF50;
}



.info td{
  vertical-align: top;
}
.sp{
  padding-top: 11%;
}
.education table td {
  min-width: 100px;
}

.heading{
  font-size: 240%;
}
.desc{
  font-size: 130%;
}
.dates{
 font-size: 140%; 
}
.sheading{
  font-size: 200%;
  color: #a9a9a9;
}
.theading{
  font-weight: 900;
}
.sdesc{
  font-size: 120%;
}
.tdesc{
  font-size: 110%;
}

.sp2{
  padding-top: 7%;
}
.contact{
  padding-left: 15%; 
}
.gly{
  padding: 5%;
  color: #ff3b3f;
  text-decoration: none !important
}
.gly:hover{
color: #73bcce;
}
.gly:visited{
color: #ff3b3f;

}
.dates span{
padding: 1%;
  background-color: #CAEBF2;  
border-radius: 5px;
}
